/* general */
:root{
    --bg-nested: #00e165;
    --bg-cell: #006cfa;
    --bg-art: #949494;
    --hand-bord: black;
    --hand-body: white;
}
.wrapper{
    margin-top: 1.5rem;
    width: 100%;
}
[class*='col']{

    border: 1px solid white;
    color: white;
    background-color: var(--bg-cell);
    min-height: 30px;
    padding: .5rem;
}
.nested{
    background-color: var(--bg-nested);
}
[class*='offset']{
    height: 40px;
}
.art{
    width: 30vw;
    margin: 30px auto;
    height: 42.5vw;
}
.art .row{
    height: calc(100% / 17);
}
.art .row div[class*='col']{
    background-color: var(--bg-art);
    height: 100%;
    border: 1px solid black;
}
.art .row div.bg-blk{
    background-color: var(--hand-bord);
}
.art .row div.bg-wt{
    background-color: var(--hand-body);
}